@import '../style';
.catalogo {
  $t: &;
  &__item {
    position: relative;
    margin-bottom: 3rem;
    .alerta {
      margin: 0;
    }
  }
  &__image {
    margin-bottom: 1rem;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &__info {
    svg {
      margin-left: 1rem;
    }
  }
}
