@import '../style';
.footer {
  background: gris(24);
  &::after {
    content: attr(data-copy);
    display: block;
    background: gris(20);
    padding: 3rem 1.5rem;
    text-align: center;
    color: blanco(1);
    font-size: 1.2rem;
  }
}