@import '../helpers.scss';
.footer {
  background: gris(24);
  margin-top: auto;
  &__redes {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    &__link {
      width: 3rem;
      height: 3rem;
      margin: 1rem;
      svg {
        width: 100%;
        height: 100%;
        fill: blanco(1);
      }
    }
  }
  &::after {
    content: attr(data-copy);
    display: block;
    background: gris(20);
    padding: 3rem 1.5rem;
    text-align: center;
    color: blanco(1);
    font-size: 1.2rem;
  }
}