@import '../style';
.header {
  @include posicion(fixed, 0, 0, null, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 99;
  // background: blanco(1);
  height: var(--header);
  @include transicion;
  transition-delay: 100ms;
  &--active {
    background: gris(20);
  }
  &__item {
    &--logo {
      width: var(--logo);
      img {
        width: 100%;
        display: block;
      }
    }
  }
  .btn {
    @include break(md-mw) {
      font-size: 0px;
      border-radius: 50%;
      padding: 0;
      width: 3.5rem;
      height: 3.5rem;
      align-items: center;
      justify-content: center;
    }
    svg {
      margin-left: 1rem;
      @include break(md-mw) {
        width: 2rem;
        height: 2rem;
        margin: 0;
      }
    }
  }
}
