@import '../style';
.header {
  @include posicion(fixed, 0,0,null,0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  z-index: 99;
  background: blanco(1);
  &__item {
    &--logo {
      width: 180px;
      img {
        width: 100%;
        display: block;
      }
    }
    &--btn {
      svg {
        margin-left: 1rem;
      }
    }
  }
}