@import '../style';
.hero {
  height: 80vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  @include break(md-mw) {
    align-items: flex-start;
  }
  &__bg {
    @include posicion(absolute,0,0,0,0);
    opacity: .8;
    background: blanco(1);
    &.placeholder--child {
      background: rgba(gris(70), .4);
    }
  }
  &__img {
    width:100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    // background-size: cover;
    // background-attachment: fixed;
    @include break(md-mw) {
      object-position: center right;
    }
  }
  &__svg {
    @include posicion(absolute,-5px,0,null,0);
    width: 150%;
    height: 150%;
    object-fit: cover;
    z-index: 2;
    @include break(md-mw) {
      width: 100%;
      height: 110%;
    }
  }
  &__container {
    position: relative;
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
    z-index: 4;
    padding: var(--header) 3rem 0;
    @include break(md-mw) {
      padding: 10rem 1.5rem 0;
    }
  }
  &__title {
    max-width: 750px;
    margin-top: 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 800;
    &.placeholder {
      margin-bottom: 2rem;
      span {
        display: block;
        width: 100%;
        height: 8rem;
        margin-bottom: 1rem;
        background: rgba(gris(70), .4);
        &:last-child {
          width: 70%;
        }
        @include break(md-mw) {
          height: 4rem;
        }
      }
    }
  }
  &__btn {
    &.placeholder--child {
      width: 200px;
      height: 7rem;
      background: rgba(gris(70), .4);
      @include break(md-mw) {
        width: 150px;
        height: 5rem;
      }
    }
  }
}