@import '../style.scss';
.page {
  &__content {
    position: relative;
    z-index: 1;
    padding: var(--contentPadding) 0;
    background: blanco(1);
    min-height: 50vh;
    &--loading {
      min-height: 100vh;
    }
  }
}
