:root {
  --header: 100px;
  --logo: 180px;
  @include break(md-mw) {
    --header: 45px;
    --logo: 100px;
  }
}

main {
  // padding-top: var(--header);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes placeholder {
  0%,
  50%,
  100% {
    opacity: .75;
  }
  25%,
  75% {
    opacity: .2;
  }
}

.placeholder {
  &--child {
    animation: placeholder 2s infinite forwards;
  }
}